@import 'tailwindcss';

:root {
    /* Tema Claro */
    --primary--light: #007BFF; /* Cor principal (azul claro) */
    --secondary--light: #6C757D; /* Cor secundária (cinza claro) */
    --background--light: #FFF; /* Fundo principal (branco) */
    --background-secondary--light: #EAEAEA; /* Fundo secundário (branco sujo) */
    --text-primary--light: #222; /* Texto principal (escuro) */
    --text-secondary--light: #6C757D; /* Texto secundário (cinza médio) */

    /* Tema Escuro */
    --primary--dark: #1A73E8; /* Cor principal (azul escuro) */
    --secondary--dark: #B0BEC5; /* Cor secundária (cinza claro) */
    --background-primary--dark: #121212; /* Fundo principal escuro */
    --background-secondary--dark: #333333; /* Fundo secundário escuro */
    --text-primary--dark: #E0E0E0; /* Texto principal claro */
    --text-secondary--dark: #B0BEC5; /* Texto secundário mais claro */

    --alert-error: #E74C3C; /* Vermelho para alertas de erro */
    --alert-success: #2ECC71; /* Verde para alertas de sucesso */
    --alert-warning: #F39C12; /* Amarelo para alertas de aviso */
    --border: #CCC; /* Cinza escuro para bordas */
}

:root {
    --primary-color: var(--primary--light);
    --secondary-color: var(--secondary--light);
    --background-color: var(--background--light);
    --background-secondary-color: var(--background-secondary--light);
    --text-primary-color: var(--text-primary--light);
    --text-secondary-color: var(--text-secondary--light);

    --alert-error-color: var(--alert-error);
    --alert-success-color: var(--alert-success);
    --alert-warning-color: var(--alert-warning);
    --border-color: var(--border);
}

@media (prefers-color-scheme: dark) {
    :root.dark {
        --primary-color: var(--primary--dark);
        --secondary-color: var(--secondary--dark);
        --background-color: var(--background-primary--dark);
        --background-secondary-color: var(--background-secondary--dark);
        --text-primary-color: var(--text-primary--dark);
        --text-secondary-color: var(--text-secondary--dark);

        --alert-error: var(--alert-error);
        --alert-success: var(--alert-success);
        --alert-warning: var(--alert-warning);
        --border-color: var(--border);
    }
}

body {
    background: var(--background-color);
    color: var(--text-secondary-color);
    font-family: Arial, Helvetica, sans-serif;
}

@theme {
    --color-primary: var(--primary-color);
    --color-secondary: var(--secondary-color);
    --color-background: var(--background-color);
    --color-background-secondary: var(--background-secondary-color);
    --color-primary-text: var(--text-primary-color);
    --color-secondary-text: var(--text-secondary-color);
    --color-error: var(--alert-error-color);
    --color-success: var(--alert-success-color);
    --color-warning: var(--alert-warning-color);
    --color-border: var(--border-color);
}

@custom-variant dark (&:where(.dark, .dark *));
